.text-white{
    color:#fff !important;
}
header{
    background-color: #fff !important;
    z-index: 1;
    position: fixed;
}
 .about-banner.overlay-bg {
    background: url(aboutbanner.jpg) right no-repeat;
    background-size: cover;
    height: 25%;
}
/* .about-banner */
.about-banner.overlay-bg {
    background: rgba(4, 9, 30, 0.8);
    padding-top: 0px;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.relative {
    position: relative;
}
.link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
}

.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.about-content .lnr {
    margin: 0px 10px;
    font-weight: 600;
}
.lnr {
    font-family: 'Linearicons-Free';
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.lnr-arrow-right:before {
    content: "\e87a";
}
::before, *::after {
    box-sizing: border-box;
}
.departinfo{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.departitem1{
    display: flex;
    flex:100%;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.departitem{
    flex:50%;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.departitem h3:hover{
    color:#BD9C6C;
}
@media(max-width:800px){
    .departitem h3{
        color:#BD9C6C;
    }

}